:root {
    // 変数の指定の仕方
    // --変数名: orange;

    // カラー
    --base-color: #FDF7F3;
    --base-color: #FDF7F3;
    --main-color: #73A776;
    --sub-color1: #FDF7F3;
    --gray1: #9A9A9A;
    --gray2: #4C524C;
    --sub-color2: #DAE2DB;
    --sub-color3: #F0F5F0; //独自に追加　SP版のフッター背景色
    --text-color: #333333;
    --white: #FFFFFF;

    // フォント
    --font-family-ja: 'Noto Sans JP', "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
    --font-family-en: Arial, sans-serif;

    // グリッドシステム用カラムサイズ
    --col-width: 5.4;
    --col-gap: 3.2;
}

