// Conceptページ
@use '../2-tools/mixin' as *;

// メインビジュアルはコンポーネントの「ページタイトル」を使用
// 背景画像は（img/concept/page-title-concept.webp）を使用

// コンポーネント
.p-component {
    padding-block: 64px;

    .c-sectionTitle {
        margin-bottom: 56px;
    }

    &__text {
        font-size: 1.5rem;
        margin-bottom: 32px;

        p {
            line-height: 1.7;

            &:not(:first-child) {
                margin-top: 8px;
            }
        }

        br {
            display: none;
        }
    }

    &__link {
        text-align: center;
    }

    // 丸アイコン画像リスト部分
    &__listtext {
        font-size: 1.5rem;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 48px auto;
        max-width: 100%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 24px;
        column-gap: 0;

        padding-inline: 14px; // ← 外側余白はここで。
    }

    &__listItem {
        text-align: center;

    }

    &__listItem img {
        width: 100%;
        max-width: 90%;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        margin: 0 auto 8px;
    }

    @include mq {
        &__text {
            text-align: center;

            br {
                display: block;
            }
        }

        // 丸アイコン画像リスト部分（のPCレイアウト）
        &__list {
            max-width: 960px;
            margin: 64px auto;
            padding-inline: 0;

            grid-template-columns: repeat(4, 1fr);
            row-gap: 48px;
            column-gap: 32px;
        }

        &__listItem img {
            max-width: 100%;
        }

        // 丸アイコン画像リスト部分（のPCレイアウト）ここまで
    }

}

// Promise 4つのお約束部分
.p-promise {
    padding-block: 64px;
    background-color: var(--sub-color1);

    &__list {
        list-style: none;
        margin: 48px 0 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        gap: 32px;

        counter-reset: promise-counter; //カウンターリセット。ここで同時に「promise-counter」を任意で命名。以下のcssカウンターでも使用
    }

    &__item {
        position: relative;
        padding: 32px 24px 24px;
        border: 1px solid var(--main-color);
        border-radius: 12px;
        background-color: var(--white);

        counter-increment: promise-counter; // ← 1ずつ増やす
    }

    &__item::before {
        content: counter(promise-counter);
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);

        width: 40px;
        height: 40px;
        border-radius: 50%;

        background-color: var(--main-color);
        color: var(--white);

        display: flex;
        align-items: center;
        justify-content: center;

        font-family: var(--font-family-en);
        font-size: 1.6rem;
        font-weight: bold;
    }


    &__listTitle {
        margin-bottom: 16px;
        text-align: center;
        font-size: 1.6rem;
        color: var(--main-color);
        font-family: var(--font-family-ja);
    }

    &__listText {
        font-size: 1.4rem;
        line-height: 1.8;
        font-family: var(--font-family-ja);
    }

    @include mq {
        &__list {
            display: grid;

            /* Safari対策：flex由来の指定を無効化 */
            flex-direction: initial;

            grid-template-columns: repeat(2, 1fr);
            gap: 40px 32px;
        }
    }

}