// Productsページ
@use '../2-tools/mixin' as *;

// メインビジュアルはコンポーネントの「ページタイトル」を使用
// 背景画像は（img/products/page-title-product-list.webp）を使用

// 製品一覧ここから
.p-productItem {
    padding-block: 64px;
    padding-bottom: 48px; //下側余白気になったので調整

    .c-sectionTitle {
        margin-bottom: 56px;
    }

    // 製品リスト

    &__list {
        margin: 0;
        padding: 0;
    }

    &__listItem {
        position: relative; // カード配置基準（親）
        list-style: none;
        height: 420px;
        overflow: visible;
        margin-bottom: 16px;
    }


    /* 上半分：背景画像 */
    &__listImg {
        height: 50%;
        background-size: cover;
        background-position: center;

        &--type01 {
            background-image: url(../img/products/item-lotion.webp);
        }

        &--type02 {
            background-image: url(../img/products/item-milk.webp);
        }

        &--type03 {
            background-image: url(../img/products/item-soap.webp);
        }
    }


    /* 前面カード */
    &__listDescription {
        position: absolute; // 親を基準にカード配置
        top: 64%; // 境目あたり
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        background: rgba(255, 255, 255, 0.8);
        padding: 8px 24px;
        z-index: 1;

        // ↓は、h3の直後にあるpだけに作用するスタイル（英字のサブテキスト）
        h3+p {
            font-size: 1.2rem;
            text-align: center;
            font-family: var(--font-family-en);
            margin-bottom: 12px;
            padding-bottom: 8px;
            border-bottom: 1px solid var(--text-color);

        }


    }

    /* カード内要素 */
    &__listTitle {
        margin-bottom: 8px;
        font-size: 1.6rem;
        font-family: var(--font-family-ja);
        text-align: center;

    }

    &__listText {
        margin-bottom: 16px;
        font-size: 1.4rem;
        line-height: 1.6;
        font-family: var(--font-family-ja);
    }

    .p-productItem__listDescription a {
        display: block;
        margin-inline: auto;
    }
}
